/* General Styles */
:root {
    --main-color: #1d720c;
    --hover-color: #289f14c2;
  }
  
  body {
    font-family: "Cairo", sans-serif;
    background-image: url(../assets/imgs/blog/download\ \(1\).jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    background-color: #f0f0f0; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
  }
  
  ::selection {
    color: white;
    background-color: var(--main-color);
  }
  
  .container {
    margin: 50px auto;
    padding: 20px;
    max-width: 1200px;
    border-radius: 15px;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
    text-align: center;
  }
  
  h1 {
    font-size: 2.5rem;
    color: var(--main-color);
    font-weight: bold;
    margin-bottom: 20px;
    line-height: 1.2;
    text-align: right;
  }
  
  p {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 30px;
    text-align: right;
  }
  
  img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  
  
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .col-lg-6 {
      flex: 0 0 100%;
      max-width: 100%;
      margin-bottom: 20px;
    }
  
    h1 {
      font-size: 2rem;
    }
  
    p {
      font-size: 1rem;
    }
  }
  
  
  /* Buttons */
  .btn {
    background-color: var(--main-color);
    color: white;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: var(--hover-color);
  }
  
  /* Modal Details */
  .modal-det {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
  }
  
  .modal-content-det {
    background-color: white;
    padding: 30px;
    width: 80%;
    max-width: 600px;
    text-align: center;
    border-radius: 25px;
    animation: fadeIn 0.3s ease;
  }
  
  .modal-content-det strong {
    font-size: 1.7em;
    margin: 15px auto;
    color: var(--main-color);
  }
  
  .modal-content-det ul {
    margin: 20px 0;
    padding-left: 0;
    text-align: center;
    list-style: none;
    font-size: 1rem;
    font-weight: 700;
  }
  
  .modal-content-det p {
    line-height: 1.6;
    color: #333333b3;
    font-size: 1rem;
    font-weight: bold;
  }
  
  .modal-det button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: var(--main-color);
    color: white;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .modal-det button:hover {
    background-color: var(--hover-color);
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.8);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  /* Modal Registration */
  .modal-reg {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
  }
  
  .modal-content-reg {
    background-color: white;
    padding: 30px;
    width: 80%;
    max-width: 500px;
    border-radius: 25px;
    animation: fadeIn 0.3s ease;
  }
  
  .modal-content-reg h5 {
    font-size: 2rem;
    color: white;
    margin: 15px auto;
    padding: 10px;
    background-color: var(--main-color);
    border-radius: 20px;
    text-align: center;
  }
  
  .modal-content-reg label {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
    font-size: 1rem;
    display: block;
    margin-bottom: 5px;
  }
  
  .modal-content-reg input {
    border-radius: 5px;
    border: 1px solid #ced4da;
    padding: 10px;
    width: 100%;
    transition: border-color 0.3s;
  }
  
  .modal-content-reg input:focus {
    border: 2px solid var(--main-color);
    outline: none;
    box-shadow: 0 0 5px var(--main-color);
    background-color: #f2fff0;
  }
  
  .modal-content-reg button {
    width: 100%;
    margin-top: 10px;
    padding: 12px;
    font-weight: bold;
    background-color: var(--main-color);
    color: white;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .modal-content-reg button:hover {
    background-color: var(--hover-color);
  }
  
  /* Success Modal */
  .modal-success {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .modal-content-success {
    background-color: white;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    max-width: 500px;
    text-align: center;
  }
  
  /* Media Queries for Responsiveness */
  @media (max-width: 768px) {
    .modal-content-det, .modal-content-reg, .modal-content-success {
      width: 90%;
    }
  
    .btn {
      font-size: 0.9rem;
      padding: 8px 16px;
    }
  }
  