* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: system-ui;
  /* background-color: #f1f1f1; */
  overflow-x: hidden;
  direction: rtl;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}

.wrapper {
  padding-top: 120px;
}
img {
  max-width: 100%;
}
.section-padding {
  padding: 80px 0 0;
}
.color {
  color: var(--main-color);
}
.btn {
  background-color: var(--main-color);
  color: var(--white-color);
  padding: 10px 20px;
  font-size: 14px;
  letter-spacing: 0.5px;
  border-radius: 50px;
  font-weight: bold;
  transition: var(--main-transition);
}
.btn:hover,
.btn:active {
  background-color: var(--btn-hover-color);
  color: var(--black-color);
}

header {
}

.about-us {
  .section-title {
    font-size: 35px;
  }
  p {
    font-size: 16px;
    line-height: 1.8;
  }
  ul {
    margin: 20px 0 30px;
    li {
      font-weight: 500;
      line-height: 30px;
      position: relative;
      margin-bottom: 8px;
      padding-right: 25px;
    }
    li:before {
      content: "\f058";
      font-family: fontawesome;
      position: absolute;
      right: 0;
      color: var(--main-color);
    }
  }
}

.swiper {
  width: 100%;
  height: 300px;

  .swiper-slide {
    width: auto !important;
    display: flex;
    justify-content: center;
  }

  .swiper-slide img {
    height: auto;
  }
}

.counter-area {
  padding: 50px 0;
  background-color: var(--bg-green-color);
  margin-top: 50px;
  .single-counter {
    text-align: center;
    padding: 60px 0;
    img {
      background-color: #88d66c;
      padding: 20px;
      border-radius: 5px;
      max-width: 100%;
      object-fit: cover;
    }
    .counter {
      display: block;
      margin: 20px 0 15px;
      font-size: 55px;
      font-weight: 700;
      color: var(--black-color);
      line-height: 1;
    }
    h3 {
      font-weight: 400;
      font-size: 20px;
      color: var(--black-color);
    }
  }
}

footer {
  background-color: #232020;
  margin-top: 100px;
  h5 {
    color: var(--white-color);
    margin-bottom: 20px;
  }
  .nav-link {
    color: #ffffffd4;
    transition: var(--main-transition);
  }
  .nav-link:hover {
    color: #f6fb7a;
  }
  .link-body-emphasis + p {
    color: #ffffffd4;
  }
  .contact-info {
    li {
      color: #ffffffd4;
      .icon {
        margin-left: 10px;
      }
    }
  }
  form {
    p {
      color: #ffffffd4;
    }
    .form-control {
      box-shadow: none !important;
      border: 0;
      outline: 0;
      border: 1px solid #ffffffd4 !important;
      background-color: #232020;
      border-radius: 50px;
      color: var(--white-color) !important;
      padding-left: 20px;
    }
    .form-control:active,
    .form-control:focus {
      background-color: #232020;
    }
    .form-control::placeholder {
      color: #ffffffd4;
    }
    .btn {
      background-color: var(--main-color);
      color: var(--white-color);
      border-radius: 50px;
      transition: var(--main-transition);
    }
    .btn:hover {
      background-color: var(--btn-hover-color);
    }
  }
  .rights {
    p {
      color: #ffffffd4;
    }
    .link-body-emphasis {
      background-color: #484646;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      color: var(--white-color) !important;
      transition: var(--main-transition);
    }
    .link-body-emphasis:hover {
      background-color: #f6fb7a;
      transform: translateY(-10px);
    }
    .link-body-emphasis:hover svg {
      color: var(--black-color);
    }
  }
}
