* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: system-ui;
  overflow-x: hidden;
  direction: rtl;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}

.wrapper {
  padding-top: 120px;
}
img {
  max-width: 100%;
}
.section-padding {
  padding: 80px 0;
}
.color {
  color: var(--main-color);
}
.btn {
  background-color: var(--main-color);
  color: var(--white-color);
  padding: 10px 20px;
  font-size: 14px;
  letter-spacing: 0.5px;
  border-radius: 50px;
  font-weight: bold;
  transition: var(--main-transition);
}
.btn:hover,
.btn:active {
  background-color: var(--btn-hover-color);
  color: var(--black-color);
}

.about-us {
  .section-title {
    font-size: 35px;
  }
  p {
    font-size: 16px;
    line-height: 1.8;
  }
  ul {
    margin: 20px 0 30px;
    li {
      font-weight: 500;
      line-height: 30px;
      position: relative;
      margin-bottom: 8px;
      padding-right: 25px;
    }
    li:before {
      content: "\f058";
      font-family: fontawesome;
      position: absolute;
      right: 0;
      color: var(--main-color);
    }
  }
}

.slick {
  .slick-list {
    text-align: center;
  }
  .slick-track {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 50px;
  }
  img {
    width: 100px !important;
    height: auto;
  }
}

/* .scroller {
  width: 100%;
  overflow: hidden;
  .scroller_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    animation: scroll 20s linear infinite;
  }

  img {
    width: 150px;
    height: 100px;
    object-fit: contain;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
} */

.counter-area {
  padding: 50px 0;
  background-color: var(--bg-green-color);
  margin-top: 50px;
  .single-counter {
    text-align: center;
    padding: 60px 0;
    img {
      background-color: #88d66c;
      padding: 20px;
      border-radius: 5px;
      max-width: 100%;
      object-fit: cover;
    }
    .counter {
      display: block;
      margin: 20px 0 15px;
      font-size: 55px;
      font-weight: 700;
      color: var(--black-color);
      line-height: 1;
    }
    h3 {
      font-weight: 400;
      font-size: 20px;
      color: var(--black-color);
    }
  }
}

.how-it-works {
  background-color: #f7f9fa;
  text-align: center;
  padding: 50px 0;

  .step {
    padding: 20px;
    background-color: var(--white-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    .icon {
      margin-bottom: 20px;
      img {
        width: 80px;
        height: 80px;
      }
    }
    h3 {
      font-size: 24px;
      margin-bottom: 15px;
      color: var(--main-color);
    }
  }

  p {
    font-size: 16px;
    color: #555;
  }
}

.testimonials {
  background-color: #f9f9f9;
  padding: 80px 0;
  overflow: hidden;

  .testimonials-wrapper {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding: 10px 0;
    scroll-behavior: smooth;
  }

  .testimonials-wrapper::-webkit-scrollbar {
    height: 10px;
    background-color: #aaa;
  }
  .testimonials-wrapper::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 5px;
    transition: var(--main-transition);
  }

  .testimonial {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    min-width: 300px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex-shrink: 0;
    transition: transform var(--main-transition) ease-in-out;
  }

  .testimonial:hover {
    transform: translateY(-10px);
  }

  .testimonial p {
    font-size: 1rem;
    line-height: 1.6;
    color: #555;
    margin-bottom: 15px;
  }

  .testimonial h5 {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--black-color);
    margin-bottom: 5px;
  }

  .testimonial span {
    font-size: 0.9rem;
    font-weight: 500;
    color: #999;
  }

  @media (max-width: 768px) {
    .testimonials .section-title {
      font-size: 2rem;
    }

    .testimonial {
      min-width: 250px;
    }

    .testimonials-wrapper {
      gap: 15px;
    }
  }
}

footer {
  background-color: #232020;
  h5 {
    color: var(--white-color);
    margin-bottom: 20px;
  }
  .nav-link {
    color: #ffffffd4;
    transition: var(--main-transition);
  }
  .nav-link:hover {
    color: #f6fb7a;
  }
  .link-body-emphasis + p {
    color: #ffffffd4;
  }
  .contact-info {
    li {
      color: #ffffffd4;
      .icon {
        margin-left: 10px;
      }
    }
  }
  form {
    p {
      color: #ffffffd4;
    }
    .form-control {
      box-shadow: none !important;
      border: 0;
      outline: 0;
      border: 1px solid #ffffffd4 !important;
      background-color: #232020;
      border-radius: 50px;
      color: var(--white-color) !important;
      padding-left: 20px;
    }
    .form-control:active,
    .form-control:focus {
      background-color: #232020;
    }
    .form-control::placeholder {
      color: #ffffffd4;
    }
    .btn {
      background-color: var(--main-color);
      color: var(--white-color);
      border-radius: 50px;
      transition: var(--main-transition);
    }
    .btn:hover {
      background-color: var(--btn-hover-color);
    }
  }
  .rights {
    p {
      color: #ffffffd4;
    }
    .link-body-emphasis {
      background-color: #484646;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      color: var(--white-color) !important;
      transition: var(--main-transition);
    }
    .link-body-emphasis:hover {
      background-color: #f6fb7a;
      transform: translateY(-10px);
    }
    .link-body-emphasis:hover i {
      color: var(--black-color);
    }
  }
}
